body {
  background-color: #F0F0F1;
  font-family: "Roboto", sans-serif;
}
#articles_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}

#articles_table tr > th,
#articles_table tr {
  border: 1px solid black;
}

#articles_table tr > th,
#articles_table tr > td {
  padding: 1em;
}

#articles_table tr:nth-child(even) {
  background-color: white;
}

#articles_table tr > td > a {
  color: black;
}
