@import "partials/variables";

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Sora';
}

@each $breakpoint, $value in $breakpoints {
	@media screen and (min-width: $value) {
		.container{
			max-width: map-get($containerWidth, $breakpoint);
		}
	}
}

.container {
	width: 100%;
	padding-right: $gutter / 2;
	padding-left: $gutter / 2;
	margin-right: auto;
	margin-left: auto;
}

.col {
	flex: 1 0 auto;
	padding-left: 7.5px;
	padding-right: 7.5px;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		flex: 0 0 100% / $cols * $i;
		max-width: 100% / $cols * $i;
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -7.5px;
	margin-right: -7.5px;
	width: 100%;
}

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}

.row.no-gutter > * {
	padding-left: 0;
	padding-right: 0;
}

.justify-content-center {
	justify-content: center;
}

.text-center {
	text-align: center;
}

.bg-login {
    background: rgb(255,175,189);
    background: linear-gradient(202deg, rgba(255,175,189,1) 0%, rgba(255,195,160,1) 100%);
}
