*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Sora";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 0px) {
  .flex-xs-row {
    flex-direction: row !important;
  }

  .flex-xs-col {
    flex-direction: column !important;
  }

  .col-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media screen and (min-width: 540px) {
  .flex-sm-row {
    flex-direction: row !important;
  }

  .flex-sm-col {
    flex-direction: column !important;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media screen and (min-width: 720px) {
  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-col {
    flex-direction: column !important;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media screen and (min-width: 960px) {
  .flex-lg-row {
    flex-direction: row !important;
  }

  .flex-lg-col {
    flex-direction: column !important;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media screen and (min-width: 1140px) {
  .flex-xl-row {
    flex-direction: row !important;
  }

  .flex-xl-col {
    flex-direction: column !important;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media screen and (min-width: 540px) {
  .container {
    max-width: 576px;
  }
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1200px;
  }
}

.container {
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  flex: 1 0 auto;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
  width: 100%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > * {
  padding-left: 0;
  padding-right: 0;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.bg-login {
  background: rgb(255, 175, 189);
  background: linear-gradient(202deg, rgb(255, 175, 189) 0%, rgb(255, 195, 160) 100%);
}

.alert {
  width: 100%;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.alert--danger {
  background-color: #F8D7DA;
  color: #721C24;
  border: 1px solid #F5C6CB;
}

.alert--success {
  background-color: #D4EDDA;
  color: #155724;
  border: 1px solid #C3E6CB;
}

