/**
  Changement de la taille de la typo
 */

form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.inputText {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 7px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid gray;
  width: 100%;
}

.inputText::-moz-placeholder {
  font-size: 12px;
}

.inputText::placeholder {
  font-size: 12px;
}

.btn {
  display: block;
  padding: 10px 15px;
  width: 100%;
  border-radius: 7px;
  text-align: center;
  color: white;
  margin: 10px 0;
  transition: background-color 0.2s ease-in-out;
}

.btn--blue {
  background-color: #4896FF;
}

.btn--blue:hover {
  background-color: #6dacff;
}

.btn--alert {
  background-color: #C82333;
}

.btn--alert:hover {
  background-color: #871822;
}

.styled-table {
  border-collapse: collapse;
  margin: 50px 0 25px 0 !important;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #695CFE;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #695CFE;
}

.styled-table tbody tr.styled-row {
  font-weight: bold;
  color: #695CFE;
  cursor: pointer;
}

.styled-table tbody tr.styled-row:hover {
  background-color: rgba(105, 92, 254, 0.1);
}

.register,
.login {
  height: 100vh;
}

.register__container,
.login__container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  border-radius: 10px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.link_forgot {
  font-size: 12px;
}

