/**

*/

.col-sm-1 {
  flex-basis: 8.3333333333%;
  width: 8.3333333333%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-2 {
  flex-basis: 16.6666666667%;
  width: 16.6666666667%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-3 {
  flex-basis: 25%;
  width: 25%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-4 {
  flex-basis: 33.3333333333%;
  width: 33.3333333333%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-5 {
  flex-basis: 41.6666666667%;
  width: 41.6666666667%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-6 {
  flex-basis: 50%;
  width: 50%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-7 {
  flex-basis: 58.3333333333%;
  width: 58.3333333333%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-8 {
  flex-basis: 66.6666666667%;
  width: 66.6666666667%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-9 {
  flex-basis: 75%;
  width: 75%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-10 {
  flex-basis: 83.3333333333%;
  width: 83.3333333333%;
  padding: 0 2px;
  overflow-x: hidden;
}

.col-sm-11 {
  flex-basis: 91.6666666667%;
  width: 91.6666666667%;
  padding: 0 2px;
  overflow-x: hidden;
}

/**
  Changement de la taille de la typo
 */

