@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,800;1,400;1,800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Sora:ital,wght@0,400;0,800;1,400;1,800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,800;1,400;1,800&display=swap";

$font-sora: 'Sora', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-epilogue: 'Epilogue', sans-serif
